html {
    background-color: black;
}

h1 {
    text-transform: uppercase;
    color: white;
    font-family: 'Libre Baskerville', serif;
    font-size: 3rem;
}

p {
    color: white;
    font-family: 'Libre Baskerville', serif;
}

img {
    border: 5px solid white;
    width: 100%;
}

div {
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
    text-align: center;
}